@page "/Add"
@using System.IO;

<button class="btn btn-primary" @onclick="AddDocument">Index</button>

<InputFile OnChange="@OnFileChange" />

@code {
    [Inject]
    AddDocument DocumentAdder { get; set; }

    [Inject]
    ILogger<Add> Logger { get; set; }

    [Inject]
    DirectoryService Dirs { get; set; }

    IBrowserFile? NewFile = null;

    public async Task AddDocument()
    {
        if (NewFile is not null)
        {
            var localFilePath = Dirs.TempDir.FullName + NewFile.Name;
            using(var localFile = System.IO.File.OpenWrite(localFilePath))
            {
                await NewFile
                    .OpenReadStream(maxAllowedSize: 1_000_000_000)
                    .CopyToAsync(localFile);
            }
            await DocumentAdder.Exectute(new(localFilePath));
        }
    }

    public async Task OnFileChange(InputFileChangeEventArgs args)
    {
        NewFile = args.File;
    }
}
