@page "/Add"
@using System.IO;

<h1>Add Document</h1>

<button class="btn btn-primary" @onclick="AddDocument">Index</button>

<InputFile OnChange="@OnFileChange" />

@code {
    [Inject]
    AddDocument DocumentAdder { get; set; }

    [Inject]
    ILogger<Add> Logger { get; set; }

    [Inject]
    DirectoryService Dirs { get; set; }

    string? NewFilePath = null;

    public async Task AddDocument()
    {
        Console.WriteLine("Clicked");
        Logger.LogInformation($"{NewFilePath}");
        if (NewFilePath is not null)
        {
            await DocumentAdder.Exectute(new(NewFilePath));
        }
    }

    public async Task OnFileChange(InputFileChangeEventArgs args)
    {
        var fileName = Dirs.TempDir.FullName + args.File.Name;
        using var outputFile = System.IO.File.OpenWrite(fileName);
        await args.File
            .OpenReadStream(maxAllowedSize: 1_000_000_000)
            .CopyToAsync(outputFile);
        Logger.LogInformation($"Created file {fileName}");
        NewFilePath = fileName;
    }
}
