@page "/All"
@using System.IO;

@if(Data is not null)
{
    @foreach (var fileInfo in Data)
    {
        <div>
            <a href=@($"Document/{fileInfo.Name}") target="_blank">
                <h5 class="card-header">@fileInfo.Name</h5>
            </a>
        </div>
    }
}
@code {
    [Inject] ListDocuments ListDocuments { get; set; }

    [Inject] public DirectoryService Dirs { get; set; }

    [Inject] ILogger<Add> Logger { get; set; }

    IEnumerable<FileInfo>? Data = null;

    protected override async Task OnInitializedAsync()
    {
        Data = (await ListDocuments.Execute(new())).Files;
    }
}
