@page "/"

<div>
    <button @onclick="Clear">
        Clear
    </button>
</div>
<Add />
<SearchBox />

@code {
    [Inject] public ClearAll ClearAll { get; set; }
    [Inject] public ILogger<Index> Logger { get; set; }
    public void Clear()
    {
        Logger.LogInformation("Clearing");
        ClearAll.Exectute(new());
    }
}