@inherits LayoutComponentBase

<div class="page">
    <div id="custom_sidebar" class="sidebar">
        <div class="nav-container">
            <NavMenu />
        </div>
        <Actions />
        </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
