@inherits LayoutComponentBase

<div class="flex flex-row h-screen bg-gray-100">
    <div id="custom_sidebar" class="flex flex-col justify-between items-center flex-none w-24 bg-gray-100">
        <NavMenu />
        <Actions />
    </div>

    <div class="flex flex-col flex-auto bg-white rounded-tl-xl border-l shadow-xl">
        <Notifications />
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
