@inherits LayoutComponentBase

<div class="flex flex-row h-screen bg-gray-100">
    <div id="custom_sidebar" class="flex flex-col justify-between items-center flex-none w-24 bg-gray-100">
        <NavMenu />
        <Actions />
    </div>

    <div class="flex flex-row flex-auto">
        @* TODO: put this somewhere else*@
        <Notifications />
        <Controls/>
        <div class="flex flex-grow container mx-auto px-4 bg-white rounded-tl-xl border-l shadow-2xl">
            @Body
        </div>
    </div>
</div>
