<div class="flex flex-col space-y-4 w-full items-center pt-5">
    <div>
        @CustomNavLink("Home", "")
    </div>
    <div>
        @CustomNavLink("All", "All")
    </div>
</div>


@code {
    private RenderFragment CustomNavLink(string text, string href)
    {
        return __builder =>
        {
            <NavLink href=@href class="bg-gray-400 rounded shadow border p1">
                @text
            </NavLink>
        };
    }
}
