<div class="Actions">
    <button @onclick="ShowAddFile">Add File</button>
    <button @onclick="ShowAddDirectory">Add Directory</button>
    <ClearButton />
</div>

@code {

    [Inject] StateContainer State { get; set; }

    void ShowAddFile()
    {
        State.Update(() => State.Value.VisibleControl = AppState.VisibleControlType.AddFile);
    }

    void ShowAddDirectory()
    {
        State.Update(() => State.Value.VisibleControl = AppState.VisibleControlType.AddDirectory);
    }
}