@using System.IO;

<div>
    <InputFile multiple OnChange="@OnFileChange" />
    <button class="btn btn-primary" @onclick="AddDocument">Index</button>
    @if (NewFiles is not null)
    {
        <h3 style="color: white">@NewFiles.Count()</h3>
        <div class="progress m-2" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="@($"width: {Progress()}%")">
                @indexed / @NewFiles.Count()
            </div>
        </div>
    }
</div>


@code {
    [Inject]
    AddDocument DocumentAdder { get; set; } = null!;

    [Inject]
    ILogger<Add> Logger { get; set; } = null!;

    [Inject]
    DirectoryService Dirs { get; set; }

    IEnumerable<IBrowserFile>? NewFiles = null;

    int indexed = 0;

    public int Progress() => (int)(indexed * 100.0 / NewFiles.Count());

    public async Task AddDocument()
    {
        if (NewFiles is not null)
        {
            var count = NewFiles.Count();
            foreach (var (newFile, index) in NewFiles.WithIndex())
            {
                var localFilePath = Dirs.TempDir.FullName + newFile.Name;
                Console.WriteLine($"Writing {localFilePath}\n");
                using (var localFile = System.IO.File.OpenWrite(localFilePath))
                {
                    await newFile
                        .OpenReadStream(maxAllowedSize: 1_000_000_000)
                        .CopyToAsync(localFile);
                }
                Console.WriteLine($"Adding to index {localFilePath}\n");
                // TODO: move into add many files use case
                var shouldFlush = index == count - 1 || index % 20 == 0;
                await DocumentAdder.Execute(new(localFilePath, shouldFlush));
                indexed = index + 1;
                StateHasChanged();
            }
            // NewFiles = null;
        }
    }

    public void OnFileChange(InputFileChangeEventArgs args)
    {
        const int MAX_COUNT = 10000;
        if (args.FileCount > MAX_COUNT)
        {
            Console.WriteLine($"Error: too many files entered - max is {MAX_COUNT}");
            return;
        }
        NewFiles = args.GetMultipleFiles(MAX_COUNT);
    }
}
