@using System.IO;

<div>
    <InputFile multiple OnChange="@OnFileChange" />
    <button class="btn btn-primary" @onclick="AddDocument">Index</button>
</div>


@code {
    [Inject]
    AddDocument DocumentAdder { get; set; }

    [Inject]
    ILogger<Add> Logger { get; set; }

    [Inject]
    DirectoryService Dirs { get; set; }

    IEnumerable<IBrowserFile>? NewFiles = null;

    public async Task AddDocument()
    {
        if (NewFiles is not null)
        {
            foreach (var newFile in NewFiles)
            {
                var localFilePath = Dirs.TempDir.FullName + newFile.Name;
                Console.WriteLine($"Writing {localFilePath}\n");
                using (var localFile = System.IO.File.OpenWrite(localFilePath))
                {
                    await newFile
                        .OpenReadStream(maxAllowedSize: 1_000_000_000)
                        .CopyToAsync(localFile);
                }
                Console.WriteLine($"Adding to index {localFilePath}\n");
                await DocumentAdder.Exectute(new(localFilePath));
            }
            NewFiles = null;
        }
    }

    public void OnFileChange(InputFileChangeEventArgs args)
    {
        const int MAX_COUNT = 15;
        if (args.FileCount > MAX_COUNT)
        {
            Console.WriteLine($"Error: too many files entered - max is {15}");
            return;
        }
        NewFiles = args.GetMultipleFiles(15);
    }
}
