<div class="flex flex-col">
    <input class="form-control form-control-sm" type="text" @bind="Folder" placeholder="Folder to add" />
    <button @onclick="Execute" class="btn btn-primary">Submit Folder</button>
    @if (ShowProgress)
    {
        <div class="relative pt-1 w-full">
            <div class="overflow-hidden h-2 mb-4 flex rounded bg-blue-200">
                <div style=@($"width:{(int)(Progress * 100)}%")
                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500">
                    @((int)(Progress * 100))%
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Inject] IndexDirectoryUseCase IndexDirectory { get; set; }
    [Inject] StateContainer State { get; set; }

    string Folder { get; set; } = "";

    float Progress { get; set; }
    bool ShowProgress { get; set; } = false;


    async Task Execute(EventArgs __ev)
    {
        ShowProgress = true;
        try
        {
            await foreach (var progress in IndexDirectory.Execute(new(Folder)))
            {
                Progress = progress;
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            State.Update(() => State.Value.ErrorMessage = e.Message);
        }
        finally
        {
            ShowProgress = false;
        }
    }
}
