<button class="btn btn-danger" @onclick="Clear">
    Clear Index
</button>

@code {
    [Inject] ClearAll ClearAll { get; set; }
    public async Task Clear()
    {
        await ClearAll.Exectute(new());
    }
}