<div class="border rounded-xl w-full shadow">
    <div class="card-header bg-gray-100 p-3 mb-2 flex rounded-t-xl">
        <FileLink Href=@($"Document/{Result.BasePath}") Link=@Result.BaseName OriginalURL=@Result.OriginalURL />
    </div>
    <div class="card-body flex flex-col justify-between">
        <ul class="flex flex-col space-y-3 p-4">
            @foreach (var token in Result.HighlightedSnippets)
            {
                <li class="border-b-2 pb-4">@((MarkupString)token)</li>
            }
        </ul>
        <footer class="p-4 text-gray-500">@Result.LastWrite.ToShortDateString()</footer>
    </div>
</div>
@code {
    [Parameter] public LuceneReader.SearchResult Result { get; set; }
}