<div class="card mt-1">
    <div class="card-header  d-flex flex-row align-items-center">
        <a class="flex-grow-1" href=@($"Document/{Result.BasePath}") target="_blank">
            <h5>@Result.BaseName</h5>
        </a>
        @if (Result.OriginalURL is string url)
        {
            <a class="small" href=@Result.OriginalURL target="_blank">
                Original
                <span class="iconify" data-icon="bi:arrow-bar-right" data-inline="false"></span>
            </a>
        }
    </div>
    <div class="card-body">
        <ul class="list group list-group-flush">
            @foreach (var token in Result.HighlightedSnippets)
            {
                <li class="list-group-item">@((MarkupString)token)</li>
            }
        </ul>
        <footer class="blockquote-footer">@Result.LastWrite.ToShortDateString()</footer>
    </div>
</div>
@code {
    [Parameter] public LuceneReader.SearchResult Result { get; set; }
}