<div class="border-2 rounded-xl w-full">
    <div class="card-header bg-gray-100 p-3 mb-2 flex">
        <a class="flex-auto underline text-black text-lg" href=@($"Document/{Result.BasePath}") target="_blank">
            @Result.BaseName
        </a>
        @if (Result.OriginalURL is string url)
        {
            <a class="small flex-none" href=@Result.OriginalURL target="_blank">
                Original
                <span class="inline iconify" data-icon="bi:arrow-bar-right" data-inline="false"></span>
            </a>
        }
    </div>
    <div class="card-body">
        <ul class="list group list-group-flush">
            @foreach (var token in Result.HighlightedSnippets)
            {
                <li class="list-group-item">@((MarkupString)token)</li>
            }
        </ul>
        <footer class="blockquote-footer">@Result.LastWrite.ToShortDateString()</footer>
    </div>
</div>
@code {
    [Parameter] public LuceneReader.SearchResult Result { get; set; }
}