<div class="flex flex-col items-center flex-auto flex-grow-0 flex-grow">
    <div class="flex items-center">
        <input class="flex-auto form-control form-control-lg rounded-lg border bg-gray-100 text-xl shadow m-5 p-3" 
            type="text" @oninput="OnInput" placeholder="type to search" autofocus />
        <svg class="flex-none h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
    </div>

    <div class="results overflow-y-auto flex-grow-0 space-y-4 w-full border-t rounded-t-xl">
        @if (Results is not null)
        {
            foreach (var result in Results)
            {
                <FileResults Result=@result />
            }
        }
    </div>
    <style>
        @*Usinginlinestyleherebecausethehtmlisrawfrombackend*@.highlight {
            animation-duration: 0.9s;
            animation-name: fadein;
            background-color: #5a7d9a33;
            border-radius: 5px;
            padding: 3px;
        }

        @@keyframes fadein {
            from {
                background-color: transparent;
            }

            to {
                background-color: #5a7d9a33;
            }
        }
        }
    </style>
</div>

@code {
    [Inject] LuceneReader Reader { get; set; }
    private string SearchTerm = "";
    private IEnumerable<LuceneReader.SearchResult>? Results = null;
    private void OnInput(ChangeEventArgs ev)
    {
        Console.WriteLine(ev.Value);
        Results = Reader.Search(ev.Value.ToString());
    }
}