<div class="flex flex-col items-center flex-auto flex-grow-0 flex-grow">
    <input class="form-control form-control-lg" 
        type="text" @oninput="OnInput" placeholder="type to search" autofocus />
    <div class="results overflow-y-auto flex-grow-0 space-y-4 pt-5 w-full">
        @if (Results is not null)
        {
            foreach (var result in Results)
            {
                <FileResults Result=@result />
            }
        }
    </div>
    <style>
        @*Usinginlinestyleherebecausethehtmlisrawfrombackend*@.highlight {
            animation-duration: 0.9s;
            animation-name: fadein;
            background-color: #5a7d9a33;
            border-radius: 5px;
            padding: 3px;
        }

        @@keyframes fadein {
            from {
                background-color: transparent;
            }

            to {
                background-color: #5a7d9a33;
            }
        }
        }
    </style>
</div>

@code {
    [Inject] LuceneReader Reader { get; set; }
    private string SearchTerm = "";
    private IEnumerable<LuceneReader.SearchResult>? Results = null;
    private void OnInput(ChangeEventArgs ev)
    {
        Console.WriteLine(ev.Value);
        Results = Reader.Search(ev.Value.ToString());
    }
}