<div>
    <div>
        <input type="text" @oninput="OnInput" placeholder="type to search" />
    </div>
    <div>
        @if (Results is not null)
        {
            foreach (var result in Results)
            {
                <div>
                    <FileResults Result=@result />
                </div>
            }
        }
    </div>
    <style>
        @*Usinginlinestyleherebecausethehtmlisrawfrombackend*@.highlight {
            animation-duration: 0.9s;
            animation-name: fadein;
            background-color: #5a7d9a33;
            border-radius: 5px;
            padding: 3px;
        }

        @@keyframes fadein {
            from {
                background-color: transparent;
            }

            to {
                background-color: #5a7d9a33;
            }
        }
        }
    </style>
</div>

@code {
    [Inject] LuceneReader Reader { get; set; }
    private string SearchTerm = "";
    private IEnumerable<LuceneReader.SearchResult>? Results = null;
    private void OnInput(ChangeEventArgs ev)
    {
        Console.WriteLine(ev.Value);
        Results = Reader.Search(ev.Value.ToString());
    }
}