@inherits ReactiveComponent
<button class="btn btn-danger" @onclick="Clear">
    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
</button>

@code {
    [Inject] IJSRuntime JSRuntime { get; set; }
    [Inject] ClearAll ClearAll { get; set; }
    public async Task Clear()
    {
        if (!State.Value.LoggedIn)
        {
            State.Update(() => State.Value.ErrorMessage = "Unauthorized");
            return;
        }
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to clear *all* indexed files?"))
        {
            return;
        }
        await ClearAll.Execute(new());
    }
}