@page "/All"
@using System.IO;

@if (Data is not null)
{
    <div class="flex flex-col space-y-4">

    @foreach (var (fileInfo, index) in Data.WithIndex())
        {
            <FileLink Href=@Href(fileInfo) Link=@($"{index + 1}. {Title(fileInfo)}") OriginalURL=@Href(fileInfo) />
        }
    </div>
}
@code {
    [Inject] ListDocuments ListDocuments { get; set; } = null!;

    [Inject] public DirectoryService Dirs { get; set; } = null!;

    [Inject] ILogger<Add> Logger { get; set; } = null!;

    IEnumerable<FileInfo>? Data = null;

    string Href(FileInfo fileInfo) => $"Document/{fileInfo.Name}";
    string Title(FileInfo fileInfo) => fileInfo.Name;

    protected override async Task OnInitializedAsync()
    {
        Data = (await ListDocuments.Execute(new())).Files;
    }
}
