@page "/Options"
@inherits ReactiveComponent

@if(State.Value.CanQuit) {
    <button @onclick="Quit" >Quit</button>
}

@code {
    [Inject] NavigationManager Nav { get; set; } = null!;
    [Inject] IJSRuntime JSRuntime { get; set; } = null!;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (!State.Value.LoggedIn)
        {
            Nav.NavigateTo("#");
        }
    }
    
    private async Task Quit()
    {
        Console.WriteLine("closing window");
        await JSRuntime.InvokeVoidAsync("close");
        Environment.Exit(0);
    }
}